## Keterangan Milestone 1

=================================================

Milestone 1

Nama  : Adhit Hikmatullah

Batch : CODA-RMT-010

Program ini berisikan pengambilan data dari sumber internet dengan Web Scraping dan juga melakukan pengolahan data.

=================================================

## Extract
Pada proses extract ini untuk mengambil data dari sumber halaman website menggunakan web scraping.

### Install BeautifulSoup

In [1]:
!pip install bs4 selenium

Requirement already satisfied: bs4 in c:\users\adhit\miniconda3\lib\site-packages (0.0.2)
Requirement already satisfied: selenium in c:\users\adhit\miniconda3\lib\site-packages (4.35.0)
Requirement already satisfied: beautifulsoup4 in c:\users\adhit\miniconda3\lib\site-packages (from bs4) (4.13.5)
Requirement already satisfied: urllib3<3.0,>=2.5.0 in c:\users\adhit\miniconda3\lib\site-packages (from urllib3[socks]<3.0,>=2.5.0->selenium) (2.5.0)
Requirement already satisfied: trio~=0.30.0 in c:\users\adhit\miniconda3\lib\site-packages (from selenium) (0.30.0)
Requirement already satisfied: trio-websocket~=0.12.2 in c:\users\adhit\miniconda3\lib\site-packages (from selenium) (0.12.2)
Requirement already satisfied: certifi>=2025.6.15 in c:\users\adhit\miniconda3\lib\site-packages (from selenium) (2025.8.3)
Requirement already satisfied: typing_extensions~=4.14.0 in c:\users\adhit\miniconda3\lib\site-packages (from selenium) (4.14.1)
Requirement already satisfied: websocket-client~=1.8.0 in c:\users\adhit\miniconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\adhit\miniconda3\lib\site-packages (from trio~=0.30.0->selenium) (25.3.0)
Requirement already satisfied: sortedcontainers in c:\users\adhit\miniconda3\lib\site-packages (from trio~=0.30.0->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\adhit\miniconda3\lib\site-packages (from trio~=0.30.0->selenium) (3.7)
Requirement already satisfied: outcome in c:\users\adhit\miniconda3\lib\site-packages (from trio~=0.30.0->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\adhit\miniconda3\lib\site-packages (from trio~=0.30.0->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\adhit\miniconda3\lib\site-packages (from trio~=0.30.0->selenium) (1.17.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\adhit\miniconda3\lib\site-packages (from trio-websocket~=0.12.2->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\adhit\miniconda3\lib\site-packages (from urllib3[socks]<3.0,>=2.5.0->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\adhit\miniconda3\lib\site-packages (from cffi>=1.14->trio~=0.30.0->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\adhit\miniconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.12.2->selenium) (0.16.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\adhit\miniconda3\lib\site-packages (from beautifulsoup4->bs4) (2.8)

### Install Pandas

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\adhit\miniconda3\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\adhit\miniconda3\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adhit\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\adhit\miniconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\adhit\miniconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\adhit\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

### Import Pandas, BeautifulSoup, Webdriver

In [3]:
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import requests

### Ambil data dari Weblink

In [4]:
import time
driver = webdriver.Chrome() ## Panggil driver-nya
nama_buku = []
penulis = []
detail_produk = []
harga_lama = []
harga_diskon = []

for halaman in range(1,7):
    weblink = f'https://www.bukabuku.com/browses/index/cid:49/c:fiksi/page:{halaman}/' ## Ambil weblink-nya
    driver.get(weblink) ## Akses weblink yang ingin dituju
    driver.find_element(By.TAG_NAME,'body').send_keys(Keys.END) ## Supaya bisa scrolling
    time.sleep(10) ## Memberikan waktu untuk mengambil data
    driver.find_element(By.TAG_NAME,'body').send_keys(Keys.HOME) ## Supaya bisa scrolling
    time.sleep(10) ## Memberikan waktu untuk mengambil data
    html = driver.page_source ## Ambil html-nya
    soup = BeautifulSoup (html, 'html.parser') ## Ekstraksi data dari html

    for kotak in soup.find_all('div', {'class':'product_list_grid'}):
        try:
            nama_buku.append(kotak.find('span', {'class':'product_list_title'}).get_text())
        except:
            nama_buku.append(None) 

        try:
            penulis.append(kotak.find('div', {'class':'product_author text_smaller'}).get_text())
        except:
            penulis.append(None)  

        try:
            detail_produk.append(kotak.find('div', {'class':'product_list_detail text_smaller'}).get_text())
        except:
            detail_produk.append(None) 

        try:
            harga_lama.append(kotak.find('span', {'class':'price_discounted'}).get_text())
        except:
            harga_lama.append(None)  

        try:
            harga_diskon.append(kotak.find('span', {'class':'price'}).get_text())
        except:
            harga_diskon.append(None)              


driver.close()

### Data Frame

In [ ]:
df = pd.DataFrame()
df['nama_buku'] = nama_buku
df['penulis'] = penulis
df['detail_produk'] = detail_produk 
df['harga_lama'] = harga_lama
df['harga_diskon'] = harga_diskon

In [4]:
df = pd.read_csv('file_scraping_m1.csv')

### Save data mentah ke `.csv`

In [7]:
df.to_csv('file_scraping_m1.csv')

## Transform
Pada proses transform ini dilakukan pengolahan data menggunakan Pandas.

### Menambah kolom

#### Menambah kolom `tanggal_terbit`
Proses ini bertujuan untuk menambah kolom `tanggal_terbit`. Untuk penambahan data-nya menggunakan data dari detail produk karena di kolom tersebut sudah tercantum tanggal terbit. Sisa-nya akan dilakukan penghapusan di bagian selanjutnya.

In [5]:
df['tanggal_terbit'] = df['detail_produk']

In [6]:
display(df)

,Unnamed: 0,nama_buku,penulis,detail_produk,harga_lama,harga_diskon,tanggal_terbit
0,0,Paket C: Harry + Hermione + Ron,\n\t\t\t\toleh\t\t\t\tJK Rowling\t\t\t,"\nSoft Cover, Agustus 2025",Rp. 417.000\t\t\t\t,Rp. 333.600\t\t\t\t,"\nSoft Cover, Agustus 2025"
1,1,Koloni,\n\t\t\t\toleh\t\t\t\tRatih Kumala\t\t\t,"\nSoft Cover, Agustus 2025",Rp. 109.000\t\t\t\t,Rp. 87.200\t\t\t\t,"\nSoft Cover, Agustus 2025"
2,2,Pocket Potters: Hermione Granger (Buku Saku K...,\n\t\t\t\toleh\t\t\t\tJ.K. Rowling\t\t\t,"\nSoft Cover, Agustus 2025",Rp. 139.000\t\t\t\t,Rp. 111.200\t\t\t\t,"\nSoft Cover, Agustus 2025"
3,3,Paket B1: Harry + Hermione,\n\t\t\t\toleh\t\t\t\tJk Rowling Jack Thorne J...,"\nSoft Cover, Agustus 2025",NaN,NaN,"\nSoft Cover, Agustus 2025"
4,4,Paket B3: Hermione + Ron,\n\t\t\t\toleh\t\t\t\tJk Rowling Jack Thorne J...,"\nHard Cover, Agustus 2025",NaN,NaN,"\nHard Cover, Agustus 2025"
...,...,...,...,...,...,...,...
115,115,SHOGUN Jilid 1,\n\t\t\t\toleh\t\t\t\tJames Clavell\t\t\t,"\nSoft Cover, Februari 2025",Rp. 160.000\t\t\t\t,Rp. 128.000\t\t\t\t,"\nSoft Cover, Februari 2025"
116,116,Bonjour Paris ! La Fleur De L Amour,\n\t\t\t\toleh\t\t\t\tELYER4A\t\t\t,"\nSoft Cover, Februari 2025",Rp. 109.000\t\t\t\t,Rp. 92.650\t\t\t\t,"\nSoft Cover, Februari 2025"
117,117,Transmigrasi Sang Ketua,\n\t\t\t\toleh\t\t\t\tWIWI RAMADANI\t\t\t,"\nSoft Cover, Februari 2025",Rp. 99.000\t\t\t\t,Rp. 79.200\t\t\t\t,"\nSoft Cover, Februari 2025"
118,118,SURAU,\n\t\t\t\toleh\t\t\t\tMWV MYSTIC\t\t\t,"\nSoft Cover, Februari 2025",Rp. 115.000\t\t\t\t,Rp. 97.750\t\t\t\t,"\nSoft Cover, Februari 2025"
119,119,ELVANO,\n\t\t\t\toleh\t\t\t\tShena\t\t\t,"\nSoft Cover, Februari 2025",Rp. 105.000\t\t\t\t,Rp. 89.250\t\t\t\t,"\nSoft Cover, Februari 2025"

### Menghapus Kolom

#### Menghapus kolom yang tidak diinginkan

In [7]:
del df['Unnamed: 0']

In [8]:
display(df)

,nama_buku,penulis,detail_produk,harga_lama,harga_diskon,tanggal_terbit
0,Paket C: Harry + Hermione + Ron,\n\t\t\t\toleh\t\t\t\tJK Rowling\t\t\t,"\nSoft Cover, Agustus 2025",Rp. 417.000\t\t\t\t,Rp. 333.600\t\t\t\t,"\nSoft Cover, Agustus 2025"
1,Koloni,\n\t\t\t\toleh\t\t\t\tRatih Kumala\t\t\t,"\nSoft Cover, Agustus 2025",Rp. 109.000\t\t\t\t,Rp. 87.200\t\t\t\t,"\nSoft Cover, Agustus 2025"
2,Pocket Potters: Hermione Granger (Buku Saku K...,\n\t\t\t\toleh\t\t\t\tJ.K. Rowling\t\t\t,"\nSoft Cover, Agustus 2025",Rp. 139.000\t\t\t\t,Rp. 111.200\t\t\t\t,"\nSoft Cover, Agustus 2025"
3,Paket B1: Harry + Hermione,\n\t\t\t\toleh\t\t\t\tJk Rowling Jack Thorne J...,"\nSoft Cover, Agustus 2025",NaN,NaN,"\nSoft Cover, Agustus 2025"
4,Paket B3: Hermione + Ron,\n\t\t\t\toleh\t\t\t\tJk Rowling Jack Thorne J...,"\nHard Cover, Agustus 2025",NaN,NaN,"\nHard Cover, Agustus 2025"
...,...,...,...,...,...,...
115,SHOGUN Jilid 1,\n\t\t\t\toleh\t\t\t\tJames Clavell\t\t\t,"\nSoft Cover, Februari 2025",Rp. 160.000\t\t\t\t,Rp. 128.000\t\t\t\t,"\nSoft Cover, Februari 2025"
116,Bonjour Paris ! La Fleur De L Amour,\n\t\t\t\toleh\t\t\t\tELYER4A\t\t\t,"\nSoft Cover, Februari 2025",Rp. 109.000\t\t\t\t,Rp. 92.650\t\t\t\t,"\nSoft Cover, Februari 2025"
117,Transmigrasi Sang Ketua,\n\t\t\t\toleh\t\t\t\tWIWI RAMADANI\t\t\t,"\nSoft Cover, Februari 2025",Rp. 99.000\t\t\t\t,Rp. 79.200\t\t\t\t,"\nSoft Cover, Februari 2025"
118,SURAU,\n\t\t\t\toleh\t\t\t\tMWV MYSTIC\t\t\t,"\nSoft Cover, Februari 2025",Rp. 115.000\t\t\t\t,Rp. 97.750\t\t\t\t,"\nSoft Cover, Februari 2025"
119,ELVANO,\n\t\t\t\toleh\t\t\t\tShena\t\t\t,"\nSoft Cover, Februari 2025",Rp. 105.000\t\t\t\t,Rp. 89.250\t\t\t\t,"\nSoft Cover, Februari 2025"

### Menghapus kata

#### Menghapus kata pada kolom `penulis`
Proses ini bertujuan untuk menghasilkan nama penulis saja di kolom tersebut.

In [9]:
df.penulis = df.penulis.str.replace(r'\t|\n|oleh','', regex=True)

#### Menghapus kata pada kolom `harga_lama` & `harga_diskon`
Proses ini bertujuan untuk menghasilkan angka saja di kolom tersebut.

In [10]:
df.harga_lama = df.harga_lama.str.replace(r'\t|Rp','', regex=True)
df.harga_lama = df.harga_lama.str.replace('.','')
df.harga_diskon = df.harga_diskon.str.replace(r'\t|Rp','', regex=True)
df.harga_diskon = df.harga_diskon.str.replace('.','')

#### Menghapus kata pada kolom `detail_produk`
Proses ini bertujuan untuk menghasilkan data Hard Cover atau Soft Cover saja di kolom tersebut.

In [11]:
df.detail_produk = df.detail_produk.str.replace(r'\n|Agustus|Juli|Juni|Mei|April|Maret|Februari|2025','', regex=True)
df.detail_produk = df.detail_produk.str.replace(',','')

#### Menghapus kata pada kolom `tanggal_terbit`
Proses ini bertujuan untuk menghasilkan data tanggal terbit saja di kolom tersebut.

In [12]:
df.tanggal_terbit = df.tanggal_terbit.str.replace(r'\n|Soft|Hard|Cover','', regex=True)
df.tanggal_terbit = df.tanggal_terbit.str.replace(',','')

### Filter data yang masih bernilai `none`

#### Mencari data buku yang masih bernilai `none`

In [13]:
df[df.isna().any(axis=1)]

,nama_buku,penulis,detail_produk,harga_lama,harga_diskon,tanggal_terbit
3,Paket B1: Harry + Hermione,Jk Rowling Jack Thorne John Tiffany,Soft Cover,NaN,NaN,Agustus 2025
4,Paket B3: Hermione + Ron,Jk Rowling Jack Thorne John Tiffany,Hard Cover,NaN,NaN,Agustus 2025
41,PAKET SATUAN - SO TALES OF THE CELESTIAL KING...,NaN,Soft Cover,109000,87200,Juli 2025
57,Hana - Tara - Hata TTD,Tere Liye,Soft Cover,NaN,NaN,Juni 2025
60,PAKET SEDAP - SO DAPUR AJAIB+TTD+PRINTED EDGE...,n/a,Soft Cover,NaN,NaN,Juni 2025
71,PAKET MANIS - SO DAPUR AJAIB+TTD+PRINTED EDGE...,", n/a",Soft Cover,NaN,NaN,Mei 2025
94,"DIA, AYAHKU ?",AZILA KHAIRUNNISA,Soft Cover,NaN,NaN,Maret 2025
112,BOXSET SHOGUN,James Clavell,Soft Cover,NaN,NaN,Februari 2025

#### Data yang berisikan `none` dihapuskan

In [14]:
df.dropna(inplace=True)

In [15]:
display(df)

,nama_buku,penulis,detail_produk,harga_lama,harga_diskon,tanggal_terbit
0,Paket C: Harry + Hermione + Ron,JK Rowling,Soft Cover,417000,333600,Agustus 2025
1,Koloni,Ratih Kumala,Soft Cover,109000,87200,Agustus 2025
2,Pocket Potters: Hermione Granger (Buku Saku K...,J.K. Rowling,Soft Cover,139000,111200,Agustus 2025
5,Circle,Iammine,Soft Cover,119000,101150,Agustus 2025
6,Kitab Kawin,Laksmi Pamuntjak,Soft Cover,89000,71200,Agustus 2025
...,...,...,...,...,...,...
115,SHOGUN Jilid 1,James Clavell,Soft Cover,160000,128000,Februari 2025
116,Bonjour Paris ! La Fleur De L Amour,ELYER4A,Soft Cover,109000,92650,Februari 2025
117,Transmigrasi Sang Ketua,WIWI RAMADANI,Soft Cover,99000,79200,Februari 2025
118,SURAU,MWV MYSTIC,Soft Cover,115000,97750,Februari 2025
119,ELVANO,Shena,Soft Cover,105000,89250,Februari 2025

### Mengubah Format Data

#### Mengubah format data
Data type tiap kolom diubah, seperti `nama_buku`, `penulis`, `detail_produk`, dan `tanggal_terbit` diubah menjadi `str`. Sedangkan untuk `harga_lama` dan `harga_diskon` diubah menjadi integer.

In [16]:
df.nama_buku = df.nama_buku.astype('str')
df.penulis = df.penulis.astype('str')
df.detail_produk = df.detail_produk.astype('str')
df.harga_lama = df.harga_lama.astype('int')
df.harga_diskon = df.harga_diskon.astype('int')
df.tanggal_terbit = df.tanggal_terbit.astype('str')

In [17]:
df.dtypes

nama_buku         object
penulis           object
detail_produk     object
harga_lama         int64
harga_diskon       int64
tanggal_terbit    object
dtype: object

### Data 5 baris pertama & terakhir

In [18]:
df.head()

,nama_buku,penulis,detail_produk,harga_lama,harga_diskon,tanggal_terbit
0,Paket C: Harry + Hermione + Ron,JK Rowling,Soft Cover,417000,333600,Agustus 2025
1,Koloni,Ratih Kumala,Soft Cover,109000,87200,Agustus 2025
2,Pocket Potters: Hermione Granger (Buku Saku K...,J.K. Rowling,Soft Cover,139000,111200,Agustus 2025
5,Circle,Iammine,Soft Cover,119000,101150,Agustus 2025
6,Kitab Kawin,Laksmi Pamuntjak,Soft Cover,89000,71200,Agustus 2025

In [19]:
df.tail()

,nama_buku,penulis,detail_produk,harga_lama,harga_diskon,tanggal_terbit
115,SHOGUN Jilid 1,James Clavell,Soft Cover,160000,128000,Februari 2025
116,Bonjour Paris ! La Fleur De L Amour,ELYER4A,Soft Cover,109000,92650,Februari 2025
117,Transmigrasi Sang Ketua,WIWI RAMADANI,Soft Cover,99000,79200,Februari 2025
118,SURAU,MWV MYSTIC,Soft Cover,115000,97750,Februari 2025
119,ELVANO,Shena,Soft Cover,105000,89250,Februari 2025

### List Kolom

In [20]:
df.columns

Index(['nama_buku', 'penulis', 'detail_produk', 'harga_lama', 'harga_diskon',
       'tanggal_terbit'],
      dtype='object')

### Save data yang sudah di-olah ke `.csv`

In [21]:
df.to_csv('CODA_P0M1_Adhit_Hikmatullah.csv')